$primary-color: #ddd;
$primary-color-light: #f6f6f6;
$primary-color-dark: #808080;

$secondary-color: #faed26;
$secondary-color-light: #e7bb67;
$secondary-color-dark: #c7bb05;

$white-color: #fff;
$black-color: #222629;
$pink-color: #f78888;