*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.6px;
  text-rendering: optimizeLegibility;
  font-family: 'Raleway', sans-serif;
}

main {
  height: 100%;
  margin-left: 8rem;
  width: calc(100% - 8rem);
  max-width: calc(100% - 8rem);
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  font-size: 1.3rem;
  color: $black-color;
  text-decoration: none;
}

.hide {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0%;
  width: 0%;
  z-index: -1;
  height: 100%;
  background: $black-color;
}