.header{
  width: 100%;
 
  &-nav{
    display: flex;
    padding: 1rem;
    height: 7.5rem;
    align-items: center;
    justify-content: center;

    &__list{
      display: flex;
      list-style: none;

      &-item{
        margin: 0 .4rem;
        font-size: 1.2rem;
        text-transform: uppercase;
      }
    }

    .nav-link{
      font-weight: lighter;
      letter-spacing: .2rem;
      color: $primary-color-dark;
      transition: color 0.3s ease-in-out;

      span{
        font-weight: bold;
      }

      &:hover,
      &:focus{
        color: $black-color;
        transition: color 0.3s ease-in-out;
      }

      &:hover span{
        font-weight: bold;
        color: $secondary-color;
      }
    }
  }
}

.hero{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url("../img/hero.jpg");

  &-content{
    color: #fff;
    text-align: center;

    .headline{
      font-size: 6rem;
      line-height: 1.7;
      letter-spacing: .2rem;
    }

    .sub-headline{
      font-size: 1.4rem;
      font-weight: bolder;
      text-transform: uppercase;
      color: $primary-color;
    }

    &__cta{
      margin: 3rem 0;
    }
  }
}

.aboutus {
  width: 100%;
  display: flex;
  overflow: hidden;

  &-content{
    width: 100%;
    height: auto;
    display: flex;
    padding: 2rem 3rem;
  }

  &__title{
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: lighter;

    &::first-letter{
      font-size: 6rem;
      color: $secondary-color-dark;
    }
  }

  &__subtitle{
    font-size: 1.4rem;
    font-weight: bold;

    span{
      position: relative;
      display: inline-block;

      &:before{
        right: 100%;
        margin-right: .7rem;
      }

      &:after{
        left: 100%;
        margin-left: .7rem;
      }

      &:before,
      &:after{
        top: 0;
        width: 3rem;
        content: "";
        height: 13px;
        position: absolute;
        border-bottom: 1px solid $secondary-color-dark;
      }
    }
  }

  &__img,
  &__description{
    width: 48%;
  }

  &__img{
    img{
      width: 100%;
      height: 100%;
    }
  }

  &__description {
    display: flex;
    padding: 0 5rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    p{
      line-height: 1.9;
      padding: 3rem 0;
      font-size: 1.8rem;
      text-align: justify;
    }
  }
}

.workhours {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  padding: 5rem;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url('../img/workhours.jpg');
  
  &-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__card{
    width: 20rem;
    margin: 1rem;
    height: 35rem;
    display: flex;
    flex: 1 0 20%;
    padding: 4rem 2rem;
    text-align: center;
    border-radius: 2rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all .4s linear;
    background-color: #fff;
    border: .4rem solid transparent;

    &-content{
      .icon{
        font-size: 8rem;
        color: $black-color;
      }

      h3{
        font-size: 2.6rem;
        font-weight: lighter;
      }

      p{
        font-size: 1.8rem;
      }

      .hours{
        color: $secondary-color-dark;
      }
    }

    &:hover,
    &:focus{
      transition: all .3s linear;
      box-shadow: 0 .1rem .8rem .1rem rgba($black-color, .6);
      border: .4rem solid $secondary-color-dark;
    }

    &:hover .icon, &:focus .icon{
      color: $secondary-color-dark;
      transition: color .4s linear;
    }
  }
}