.header{
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
  background-color: rgba(#fff, 0.9);

  &-nav{
    display: flex;
    padding: 1rem;
    height: 7.5rem;
    align-items: center;
    justify-content: center;

    &__list{
      display: flex;
      list-style: none;

      &-item{
        margin: 0 .4rem;
        font-size: 1.4rem;
        text-transform: uppercase;
      }
    }

    .nav-link{
      font-weight: 400;
      letter-spacing: .2rem;
      color: $black-color;
      transition: color 0.3s ease-in-out;

      span{
        font-weight: bold;
      }

      &:hover,
      &:focus{
        color: $primary-color-dark;
        transition: color 0.3s ease-in-out;
      }

      &:hover span{
        font-weight: bold;
        color: $secondary-color;
      }
    }
  }
}

.hero{
  width: 100%;
  height: 100vh;
  display: flex;
  //border: 8px solid red;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url("../img/hero.jpg");

  &-content{
    color: #fff;
    text-align: center;

    .headline{
      font-size: 6rem;
      line-height: 1.7;
      letter-spacing: .2rem;
    }

    .sub-headline{
      font-size: 1.4rem;
      font-weight: bolder;
      text-transform: uppercase;
      color: $primary-color;
    }

    &__cta{
      margin: 3rem 0;
    }
  }
}

.aboutus {
  width: 100%;
  display: flex;
  overflow: hidden;

  &-content{
    width: 100%;
    height: auto;
    display: flex;
    padding: 2rem 3rem;
    align-items: center;
    justify-content: center;
  }

  &__title{
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: lighter;

    &::first-letter{
      font-size: 6rem;
      color: $secondary-color-dark;
    }
  }

  &__subtitle{
    font-size: 1.4rem;
    font-weight: bold;

    span{
      position: relative;
      display: inline-block;

      &:before{
        right: 100%;
        margin-right: .7rem;
      }

      &:after{
        left: 100%;
        margin-left: .7rem;
      }

      &:before,
      &:after{
        top: 0;
        width: 3rem;
        content: "";
        height: 13px;
        position: absolute;
        border-bottom: 1px solid $secondary-color-dark;
      }
    }
  }

  &__img,
  &__description{
    width: 48%;
  }

  &__img{

    img{
      width: 100%;
      height: 100%;
    }
  }

  &__description {
    display: flex;
    padding: 0 5rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    p{
      padding: 3rem 0;
      line-height: 1.8;
      font-size: 2rem;
      text-align: justify;
    }
  }
}

.workhours {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  padding: 5rem;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url('../img/workhours.jpg');
  
  &-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__card{
    width: 20rem;
    margin: 1rem;
    height: 35rem;
    display: flex;
    flex: 1 0 20%;
    padding: 4rem 2rem;
    text-align: center;
    border-radius: 0rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all .4s linear;
    background-color: #fff;
    border: .4rem solid transparent;

    &-content{
      .icon{
        font-size: 8rem;
        color: $black-color;
      }

      h3{
        font-size: 2.6rem;
        font-weight: lighter;
      }

      p{
        font-size: 1.8rem;
      }

      .hours{
        color: $secondary-color-dark;
      }
    }

    &:hover,
    &:focus{
      border-radius: 2rem;
      transition: all .3s linear;
      border: .4rem solid $secondary-color-dark;
      box-shadow: 0 .1rem .8rem .1rem rgba($black-color, .6);
    }

    &:hover .icon, &:focus .icon{
      color: $secondary-color-dark;
      transition: color .4s linear;
    }
  }
}

.menuPreview{
  width: 100%;
  display: flex;
  padding: 5rem 3rem;
  align-items: center;
  justify-content: center;

  &-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    //justify-content: center;
  }

  &__img{
    width: 35%;
    height: 50rem;
    max-height: 50rem;
    position: relative;

    &:before{
      content: '';
      width: 100%;
      height: 100%;
      right: -4rem;
      top: 3rem;
      z-index: -1;
      border: 1rem solid rgba($secondary-color-dark, .4);
      position: absolute;
    }

    img{
      width: 100%;
      height: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }

  &__description{
    width: 50%;
    display: flex;
    padding: 4rem;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    p{
      line-height: 1.7;
      font-weight: 300;
      font-size: 2rem;
      margin-bottom: 2rem;
      text-align: justify;
    }
  }

  &__title{
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: lighter;

    &::first-letter{
      font-size: 6rem;
      color: $secondary-color-dark;
    }
  }
}

.testimonial{
  width: 100%;
  padding: 3rem 0;
  text-align: center;
  background-color: $primary-color-light;

  &-content{
    width: 100%;
    margin: auto;
    padding: 2rem;
    padding-bottom: 2rem;

    h2{
      font-size: 4rem;
      font-weight: lighter;
      
      span{
        font-weight: normal;
        color: rgba($secondary-color-dark, .8);
      }
    }

    p{
      font-size: 1.4rem;
      color: $black-color;
      margin-bottom: 2rem;
      text-transform: uppercase;

      span{
        position: relative;
        display: inline-block;

        &:before{
          right: 100%;
          margin-right: .7rem;
        }

        &:after{
          left: 100%;
          margin-left: .7rem;
        }

        &:before,
        &:after{
          top: 0;
          width: 3rem;
          content: "";
          height: 13px;
          position: absolute;
          border-bottom: 1px solid $secondary-color-dark;
        }
      }
    }
  }

  &-customers{
    padding: 4rem 0;

    img{
      width: 15rem;
      height: 15rem;
      margin: 0 1rem;
      border-radius: 50%;
      filter: grayscale(100%);
      transition: all .3 ease-in-out;
      border: .3rem solid transparent;

      &:hover,
      &:focus,
      &.active{
        filter: none;
        transition: all .3s ease-in-out;
        box-shadow: 0 .3rem 1.1rem 0 rgba(0,0,0,0.6);
        border-color: rgba($secondary-color-dark, .4);
      }
    }
  }

  &-list{
    width: 50%;
    margin: auto;
    
    &__item{
      display: none;

      p{
        font-size: 1.4rem;
        padding-bottom: 1rem;
        color: $black-color;
      }

      &.active{
        display: block;
        transition: all 0.3s linear;
      }
    }
  }
}

.banner{
  width: 100%;
  height: 40vh;
  padding: 2rem;
  display: flex;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)), url('../img/banner-bg.jpg');

  &-content{
    width: 100%;
    height: 100%;
    padding: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h2{
      font-size: 3rem;
      color: $white-color;
      margin-bottom: 2rem;

      span{
        color: $secondary-color-dark;
      }
    } 
    .btn{
      color: $white-color;
    }
  }
}